{% extends 'base.html.twig' %}

{% block title %}RSS feed view{% endblock %}

{% block body %}
    <h1>RSS feed view</h1>

    <h2>Most frequent words</h2>
    <ul>
        {% for word,count in words %}
            <li>{{ loop.index }}) {{ word }} - {{ count }}</li>
        {% endfor %}
    </ul>

    <h2>Feed</h2>
    {% if data is not null %}
        {% for item in data.entry %}
            <p>{{ item.summary['#'] | raw }}</p>
            <hr>
        {% endfor %}
    {% else %}
        Sorry, service is not available
    {% endif %}
{% endblock %}
