{% extends 'base.html.twig' %}

{% block title %}User registration{% endblock %}

{% block body %}
    <h1>User registration</h1>

    <div id="message"></div>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTermsAndGdpr) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}

    <script>
        let emailReg = new RegExp(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/);
        let showMessage = false;
        let xmlhttp = new XMLHttpRequest();

        document.getElementById('registration_form_email').onkeyup = function () {
            if( !emailReg.test( document.getElementById("registration_form_email").value ) ) {
                if (showMessage) {
                    document.getElementById("message").innerHTML = "Sorry, this email is not valid";
                }
            } else {
                showMessage = true;
                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState == XMLHttpRequest.DONE && xmlhttp.status == 200) {
                        let data = JSON.parse(xmlhttp.responseText);
                        if (data.emailExist) {
                            document.getElementById("message").innerHTML = "Sorry, this email already exist";
                        } else {
                            document.getElementById("message").innerHTML = "";
                        }
                    }
                };
                xmlhttp.open("POST", Routing.generate('api_email'), true);
                xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xmlhttp.send("email=" + document.getElementById("registration_form_email").value);
            }
        }
    </script>
{% endblock %}
